.force_width td[data-field="account_id"], .force_width th[data-field="account_id"] {
    min-width:300px;
    word-wrap:break-word;
}
.force_width2 td[data-field="account_id"], .force_width2 th[data-field="account_id"]  {
    min-width:350px;
    word-wrap:break-word;
}

